<div class="volunteer-fields">
 <h1> Admin Sign Up </h1>    

        <%= f.hidden_field :role, value: 'Admin' %>

        <%= f.label :first_name, "First Name" %><br />
        <%= f.text_field :first_name %><br />
        <%= f.label :last_name, "Last Name" %><br />
        <%= f.text_field :last_name %><br />
        <%= f.label :background_check %><br />
        <%= f.check_box :background_check %><br />
      </div>