      <div class="non-profit-fields">
       <h1> Organization Sign Up </h1>    

        <%= f.hidden_field :role, value: 'Non_Profit' %>

        <%= f.label :organization_name, "Organization Name" %><br />
        <%= f.text_field :organization_name %><br />
        <%= f.label :point_of_contact_email, "Point Of Contact Email" %><br />
        <%= f.text_field :point_of_contact_email %><br />
        <%= f.label :areas_of_concern, "Description of Concerns" %><br />
        <%= f.text_area :areas_of_concern %><br />
      </div>