<div class="volunteer-fields">
    

        <%= f.hidden_field :role, value: 'Volunteer' %>

        <%= f.label :first_name, "First Name" %>
        <%= f.text_field :first_name %>
        <%= f.label :last_name, "Last Name" %>
        <%= f.text_field :last_name %>
        <%= f.label :linkedin, "Linkedin Profile" %>
        <%= f.text_field :linkedin %>
        <%= f.label :hours_per_week %>
        <%= f.number_field :hours_per_week %>
        <div>
        <%= f.check_box :background_check %>
        <%= f.label :background_check, class: "bgcheck" %>
        </div>
        
</div>