<section class="registration login-page">
  <div class="registration-card ">
    <h1>Edit <%= resource_name.to_s.humanize %></h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="width-200">
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </div>
      <% if current_user.role == "Volunteer" %>
        <div class="width-200">
          <%= f.label :hours_per_week %><br />
          <%= f.number_field :hours_per_week %><br />
          <%= f.label :background_check %><br />
          <%= f.check_box :background_check %><br />
        </div>
      <% end %>
      

      <% if current_user.role == "Non_Profit" %>
        <div class="non-profit-fields">
          <%= f.label :point_of_contact_email, "Point Of Contact Email" %>
          <%= f.text_field :point_of_contact_email %>
          <%= f.label :areas_of_concern, "Description of Concerns" %>
          <%= f.text_area :areas_of_concern %>
        </div>
      <% end %>
      <div class="width-200">
        <div class="field">
          <%= f.label :password %> <i>(Leave blank if no change)</i>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <i><%= @minimum_password_length %> characters minimum</i>
            <br />
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(Enter password to confim changes)</i>
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
        <div class="actions">
          <%= f.submit "Update", class: 'button ' %>
        </div>
      </div>
    <% end %>


    <% if current_user.role =='Admin' %>
      <% if User.where(role: 'Admin').count > 1 %>
        <div class="width-200">
          <div class="edit-delete-button">
            <h3>Delete Account</h3>
            <div><%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'button' %>
            </div>
            <% else %>
              <strong class="no-delete">Delete not available. Last Admin Account </strong><br />
            <% end %>
          <% else %>
          
            <h3>Delete Account</h3>
            <div class="actions"><%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'button' %>
            </div>
            <%= link_to "Back", :back %>
          </div>
          
        </div>
    <% end %>
      
    
  </div>
</section>