<section class="registration">
  <div class="login-card">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

    
    <% if session[:user_type] == "Volunteer"%>
      <%= render partial: "devise/registrations/volunteer_registration", locals: { f: f } %>
            <div class="common-fields">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br />

        <%= f.label :password %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %><br />

        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br />
      </div>


        <%= f.submit "Sign up", class:'button' %>
    <% elsif session[:user_type] == "Non_Profit" %>
      <%= render partial: "devise/registrations/nonprofit_registration", locals: { f: f } %>
            <div class="common-fields">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br />

        <%= f.label :password %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %><br />

        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br />
      </div>


        <%= f.submit "Sign up", class:'button' %>
    <% else %>
    <div class="error-choose">
    <h1>Error</h1>
    <%= link_to "Choose User Type", choose_user_type_path %>
    </div>
    <% end %>
      <!-- Non-profit fields -->


      <!-- Common fields -->


    <% end %>
  </div>
 </section> 