<section class="registration login-page">
  <div class="registration-card ">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

    
    <% if session[:user_type] == "Volunteer"%>
    <h1> Volunteer Registration</h1>

      <%= render partial: "devise/registrations/volunteer_registration", locals: { f: f } %>
      <div class="common-fields">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

        <%= f.label :password %>
        <% if @minimum_password_length %>
          <p>(<%= @minimum_password_length %> characters minimum)</p>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="sign-up">
        <%= f.submit "Sign up", class:'button' %>
      </div>
    <% elsif session[:user_type] == "Non_Profit" %>
    <h1> Organization Sign Up </h1> 
      <%= render partial: "devise/registrations/nonprofit_registration", locals: { f: f } %>
            <div class="common-fields">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

        <%= f.label :password %>
        <% if @minimum_password_length %>
          <p>(<%= @minimum_password_length %> characters minimum)</p>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>


      <div class="sign-up">
        <%= f.submit "Sign up", class:'button' %>
      </div>    <% else %>
      <div class="error-choose">
        <h1>Error</h1>
        <%= link_to "Choose User Type", choose_user_type_path %>
      </div>
    <% end %>
      <!-- Non-profit fields -->


      <!-- Common fields -->


    <% end %>
  </div>
 </section> 