<section class="main"> 
  <div class="welcome">
      <div class="welcome-text">
        <h1>GuardianLink <strong>Cybersecurity</strong> Solutions</h1>
        <p>The all in one solution for connecting cybersecurity professionals and organizations to make the world a better place</p>
      </div>
    <div class="main-photo">
      <%= image_tag "placeholder.jpg", class: "photo" %>
    </div>
  </div>
</section>
<section class="connecting">
  <h3>Connecting Cybersecurity <strong>volunteers</strong> and <strong>organizations</strong> 
  together for the betterment of the <strong>world</strong></h3>
</section>
<section class="who-what-why" id="www">

    <div class="cards card-layer hidden1">
    <h5>Who We Are</h5>
    <p class="who"> GuardianLink is a group of people who want to help organizations who help people by using their
     skills to help protect them in the cyber realm</p>
    </div>

        <div class="cards card-layer hidden2">
    <h5>What We Are</h5>
    <p class="what"> GuardianLink's goal is to connect  not-for-profit organizations and cybersecurity volunteers together to help each other
    improve people's lives all over the globe</p>
    </div>

        <div class="cards card-layer hidden3">
    <h5>Why We Do It</h5>
    <p class="why"> We at Guardianlink believe in giving back to those who give.<br /><br /> That is why our service is free to those who need it.</p>

</section>
  <div class="bottom-line"></div>
  <section class="sponsors">
  <h2>Some of Our Partners</h2>
    <div class="sponsor-logos">
      <%= image_tag "mcdonalds.svg"%>
      <%= image_tag "google.png"%>
      <%= image_tag "jeep.svg"%>
      <%= image_tag "lego.webp"%>
  </div>
  </section>
  <div class="bottom-line"></div>