<!DOCTYPE html>
<html>
  <head>
    <title>GuardianLink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_include_tags %>
  </head>

  <body>
  <section class="navbar">
  <div class="logo-group">
    <div class="logo"><%= image_tag "logo.svg" %></div>
    <div class="who">
    <% if current_page?(root_path) %>
      <ul>
      <li><%= link_to "Who What and Why", '#www' %></li>
      </ul>
      <% end %>
    </div>
  </div>
    </div>
    <div class="links">
      <ul>
        <% if !current_user %>
          <li><%= link_to "Home", root_path %></li>
        <% end %>
        <% if current_user %>
          <li><%= link_to 'Dashboard', dashboard_path %></li>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li><%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'button-to-link' %></li>
        <%else%>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Register", choose_user_type_path, method: :get %></li>
        <% end %>
      </ul>
    </div>
  </section>
  
  <section class="non-layout">
    <%= yield %>
  </section>

  <footer>
    <div class="links">
      <%= link_to "Who What and Why", '#www'%>
      <%= link_to "Log In", new_user_session_path  %>
      <%= mail_to  "admin@guardianlink.com", "Contact Us!" %>
    </div>

    <div class="top">
    <%= link_to "Top", '#navbar'%>
    </div>

    <div class="socials">
      <a href= #><i class='bx bxl-instagram-alt'></i></a>
      <a href= #><i class='bx bxl-facebook-circle'></i></a>
      <a href= #><i class='bx bxl-twitter' ></i></a>
      <a href= #><i class='bx bxl-reddit' ></i></a>
    </div>
  </footer>
  </body>
</html>
